:root {
    --primary-color: #2759ff;
    --secondary-color: #bce3ff;
    --tertiary-color: #8400ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}

/* Header style */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
    background-image: url(/assets/images/hero.jpg);
    background-size: cover;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 36px;
}

header nav {
    width: 50%;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

header nav ul li {
    padding: 15px;
    margin-left: 15px;
}

header nav ul a {
    font-size: 24px;
    font-weight: bold;
}

header nav ul a:hover {
    font-size: 24px;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 15px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-color);
}

section {
    margin: 50px;
}

section ul {
    margin: 10px 30px;
    font-size: 16px;
    line-height: 1.2;
    list-style:circle;
    font-weight: bold;
}

.project a {
    display: flex; 
    flex-wrap: wrap;
}

.project img {
    border: 2px solid var(--primary-color);
    width: 40%;
    
}

/* .project a {
    
} */

.project:first-child {
    width: 100%;
}

.project img:hover {
    opacity: 80%;
}

p {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 15px;
}

.section-title {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 20px;
    display: inline-block;
    width: 500px;
}

#about-me {
    display: flex;
    justify-content: space-between;

    
}

#profile-pic {
    width: 350px;
    margin-right: 250px;
}

h3 {
    line-height: 1.5;
    margin-bottom: 10px;
}

footer {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
